*{
	margin: 0px;
	padding: 0px;
}
a:link {
	color: white;
}

a:hover {
	text-decoration: none;
	color: #c0c0c0;
}

a:visited {
	color: #a94dff;
}
body{
	font: Segoe UI;
	color: #666666;
}
content{
	margin: auto;
	background: white;
	width: 800px;
	text-align: left;
}
#header{
	background: #ffffff;
	height: 195px;
	width: 100%;
	text-align: left;
}
#menu{
	width: 100%;
	height: 60px;
	background: #00cccc;
}
#menu a {
	width: 165px;
	height: 46px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: semibold;
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#menu a:hover {
	color: #c0c0c0;
	text-decoration: none;
}
#logo {
background: #ffffff;
width: 100%;
height: 136px;
text-align: left;
padding-top: 45px;
padding-left: 55px;
}
#logo h1{
	text-decoration: none;
	text-transform: lowercase;
	font-family: 'Matura MT Script Capitals', arial;
	font-size: 58.33px;
	color: #00cccc;
	margin-top: -30px;
}
#logo h2{
	font-size: 12.5px;
	font-family: 'Segoe UI',inherit;
	color: #00cccc;
	margin-left: 35px;
	margin-top: -20px;
}
#menu2{
	width: 95%;
	height: 65px;
	background: #696568;
	margin-left: 46px;
	margin-right: 50px;
}
#menu2 a {
	width: 165px;
	height: 20px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: semibold;
	font-size: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#zapisi{
	width: 95%;
	height: 120px;
	background: #f0f0f0;
	font-size: 54px;
	color: #c0c0c0;

}
